body {

  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

.app {

  display: flex;
  height: 100vh;
}

.sidebar {

  width: 300px;
  background: #1e1e1e;
  padding: 20px;
}

.chat {

  flex: 1;
  padding: 20px;
}

input {

  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
}

button {

  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #00b894;
  border: none;
  color: white;
  cursor: pointer;
}

#messages {

  height: 70vh;
  overflow-y: auto;
  background: #222;
  padding: 10px;
  margin-top: 20px;
}

p {

  background: #333;
  padding: 10px;
  border-radius: 10px;
}
